<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="/favicon/favicon.png" />
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <link rel="stylesheet" href="/destyle.css">
  <link rel="stylesheet" href="/visuallyhidden.css">
  <link rel="stylesheet" href="/room_list.css">
  <link rel="stylesheet" href="/iziModal/iziModal.css">
  <link rel="stylesheet" href="/toastr/toastr.css">
  <title>RAKU-SHARE | 自分のルーム</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="/iziModal/iziModal.js"></script>
  <script src="/toastr/toastr.min.js"></script>
</head>
<body>
  <header>
    <div id="header_img"></div>
  </header>
  <div id="head_text">
    <h1><%= user_name %>さんのルーム一覧</h1>
  </div>
    <% if(room_list.length == 0) { %>
      <p id="room_empty">あなたのルームはまだ作成されていません！<br><a href="/">「みんなに送る」</a>からファイルを共有してください！</p>
    <% } else { %> 
      <ul id="room_list">
      <% room_list.forEach(function (value, key) { %>
        <li class="room <%= value.folder_name %>">
          <a href="/share/<%= user_name %>/<%= value.folder_name %>?k=<%= value.passkey %>">
            <h2 class="visuallyhidden"><%= value.folder_name %>のルーム</h2>
            <div class="text">
              <p class="roomname"><%= value.folder_name %> のルーム</p>
              <p class="deadline">有効期限：<%= new Date(value.delete_date).toLocaleString() %></p>
            </div>
            <button class="room_delete" value="<%= value.folder_name %>">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAArCAYAAADhXXHAAAABnElEQVRYR+2YvUoEMRSFZ30CwVJs1sJKUMHOYrHRwsq/1tLaJxDfYGs7tfMP0dJCBSsLRbHUxsJexE7U7wqBJWaGZJLA7noDB5bMPSeHk9ndy20UPbQaPeS1ULO5bqsvkh0inXkwCgZKkvpk/xQ85ErS1nUlO0PRCRDDPmuDorZPYWyNy+wLoiOBwuvUbwdygstts9Mo3ASrFMU3nDWwV4PrTbHNLsE89Gb/LbyK4BrqFx+ewQ647tSzzS7z8CDBgakk5LZ2jVi3m33D6DD4EMPdblY8zoILl9kVNvdT3WEinVXzatrJqtnIhDXZyABL6ZqsJksC/+81kIZHfpfrLOk/pA/xWUmSVbOOqEuTDWkRLxHe8rlHR80mey1Prrxqvz229gaeifmWJfmC+R4WW6dmYxMs42uymmxVI7PIw6NcEdXUlcHLsetPYZLN25qiuWgTCN+7zMqejDDHc50cqHtH/ZThuKaIMkE8B2OBwqnLHxGcA69VZuXZIFgATVA2TE5tzujJYO4JnIH3zkP6YkyfK7UoXU02Kr4K8g8nVVUsMXsG0gAAAABJRU5ErkJggg=="/>
            </button>
          </a>
        </li>
      <% }) %> 
      </ul>
    <% } %>

  <div id="room_delete_modal">
    <div id="room_delete_modal_design">
      <h2 class="visuallyhidden">ルームを削除しますか？</h2>
      <p id="delete_folder_name"></p>
      <p>ルームを削除すると、ルームに保存されているファイルも削除されます。</p>
      <div id="modal_button_area">
        <button id="room_delete_cancel">キャンセル</button>
        <button type="submit" id="room_delete" name="room_delete">削除</button>
      </div>
    </div>
  </div>

  <div id="button_area">
    <button id="back">戻る</button> 
  </div>
</body>
<script src="./room_list.js"></script>
</html>