<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="/favicon/favicon.png" />
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <link rel="stylesheet" href="/destyle.css">
  <link rel="stylesheet" href="/visuallyhidden.css">
  <link rel="stylesheet" href="/share.css">
  <link rel="stylesheet" href="/iziModal/iziModal.css">
  <link rel="stylesheet" href="/toastr/toastr.css">
  <title>RAKU-SHARE | シェア</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="/iziModal/iziModal.js"></script>
  <script src="/toastr/toastr.min.js"></script>
  <script src="/unitChangeForByte.js"></script>
</head>
<body>
  <header>
    <div id="header_img"></div>
  </header>
  <div id="head_text">
    <h1><%= share_user_name %>さんの<%= folder_name %>ルーム</h1>
  </div>
  <div id="sp_msg">
    <p>タップしてダウンロード！</p>
  </div>
  <div id="pc_msg">
    <p>クリックしてダウンロード！</p>
  </div>
  <% if(data.length == 0) { %>
    <p id="file_empty">このルームにはファイルがありません</p>
  <% } else { %> 
    <ul> 
      <% for(var i = 0; i < data.length; i++) { %>
        <li class="share_list">
          <a href=<%= url[i] %> download=<% file_name[i] %> >
            <div class="share">
              <div class="thumb">
                <img src=<%= url[i] %>></img>
              </div>
              <div class="textarea">
                <h2><%= file_name[i] %></h2>
                <p><%= file_size[i] %></p>
              </div>
            </div>
          </a>
        </li>
      <% } %>
    </ul>
  <% } %>

  <div id="button_area">
    <button id="back">戻る</button>
    <% if(user_name === share_user_name) { %>
      <button id="share">シェアする</button>
    <% } %>
  </div>

  <% if(user_name === share_user_name) { %>
    <div id="share_modal">
      <div id="share_modal_content">
        <h2 class="visuallyhidden">シェアする</h2> 
        <h3>共有リンク</h3>
        <div class="cp_iptxt">
          <label class="ef">
          <input type="text" id="share_url" value="<%= share_url %>" readonly>
          </label>
        </div>
        <button type="button" id="copy-url"><span id="cAction">URLをコピー</span></button>
        <h3>QRコード</h3>
        <button type="button" id="show-qr-code">QRコードを表示</button>
      </div>
    </div>
  
    <div>
      <div id="qr_code_modal">
        <div id="qr_code_modal_content">
          <h2 class="visuallyhidden">QRコード</h2>
          <p class="message">このQRコードをシェアしたい人に見せてください！</p>
          <p class="room_name">Room: <%= folder_name %></p>
          <img class="qr_code" src="<%= qr_url %>">
        </div>
      </div>
    </div>
  <% } %>
  
</body>
<script src="/share.js"></script>
<script src="/unitChangeForByte.js"></script>
</html>