<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <link rel="stylesheet" href="/destyle.css">
  <link rel="stylesheet" href="/visuallyhidden.css">
  <link rel="stylesheet" href="/share.css">
  <link rel="stylesheet" href="/iziModal/iziModal.css">
  <link rel="stylesheet" href="/toastr/toastr.css">
  <title>RAKU-SHARE | シェア</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="/iziModal/iziModal.js"></script>
  <script src="/toastr/toastr.min.js"></script>
</head>
<body>
  <header>
    <div id="header_img"></div>
  </header>
  <div id="head_text">
    <h1><%= share_user_name %>さんの<%= folder_name %>ルーム</h1>
  </div>
  <div id="sp_msg">
    <p>タップしてダウンロード</p>
  </div>
  <div id="pc_msg">
    <p>クリックしてダウンロード</p>
  </div>
  <% if(data.length == 0) { %>
    <p>このルームにはファイルがありません</p>
  <% } else { %> 
    <ul> 
      <% for(var i = 0; i < data.length; i++) { %>
        <li class="share_list">
          <a href=<%= url[i] %> download=<% file_name[i] %> >
            <div class="share">
              <div class="thumb">
                <img src=<%= url[i] %>></img>
              </div>
              <h2><%= file_name[i] %></h2>
            </div>
          </a>
        </li>
      <% } %>
    </ul>
  <% } %>

  <div id="button_area">
    <button id="back">戻る</button> 
  </div>
  
</body>
<script src="/share.js"></script>
</html>