<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <link rel="stylesheet" href="/destyle.css">
  <link rel="stylesheet" href="/visuallyhidden.css">
  <link rel="stylesheet" href="/update.css">
  <link rel="stylesheet" href="/iziModal/iziModal.css">
  <link rel="stylesheet" href="/toastr/toastr.css">
  <title>RAKU-SHARE | Home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="/iziModal/iziModal.js"></script>
  <script src="/toastr/toastr.min.js"></script>
  <title>ファイルアップロード</title>
</head>
<body>
  <header>
    <div id="header_img"></div>
  </header>
  <div id="head_text">
    <h1><%= folder_name %>のルームにアップロード</h1>
  </div>
  <!-- <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="アップロード">
  </form> -->

  <div id="upload_area">
    <form action="/upload">
      <div class="dropzone" id="awesome"></div>
    </form>
  </div>
  
  <div id="button_area">
    <button id="back">最初に戻る</button>
    <button id="share">シェアする</button>
  </div>

  <div id="share_modal">
    <div id="share_modal_content">
      <h2 class="visuallyhidden">シェアする</h2> 
      <h3>共有リンク</h3>
      <div class="cp_iptxt">
        <label class="ef">
        <input type="text" id="share_url" value="<%= share_url %>" readonly>
        </label>
      </div>
      <button type="button" id="copy-url"><span id="cAction">URLをコピー</span></button>
      <h3>QRコード</h3>
      <button type="button" id="show-qr-code">QRコードを表示</button>
    </div>
  </div>

  <div>
    <div id="qr_code_modal">
      <div id="qr_code_modal_content">
        <h2 class="visuallyhidden">QRコード</h2>
        <p class="message">このQRコードをシェアしたい人に見せてください！</p>
        <p class="room_name">Room: <%= folder_name %></p>
        <img class="qr_code" src="<%= qr_url %>">
      </div>
    </div>
  </div>

</body>
<script>
  let folder_name = "<%= folder_name %>";
</script>
<script src="/upload.js"></script>
</html>